body{
    font-family: 'Roboto', 'Raleway', 'Montserrat', sans-serif;
    color: var(--text-color-main);
}

*{
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

:root{
    --text-color-black: black;
    --text-color-main: #757575;
    --text-color-white: white;
    --background-color-darkgrey: #2F303A; 
    --background-color-lightgrey: #F5F4FA;
    --hover-color: #2196F3;
    --border-color-lightgrey: #ECECEC;
    --border-color-lightgrey-second: #EEEEEE;
    --border-color-transparent: transparent;
}

.wrapper{
    width: 1600px;
}

.container{
    width: 1200px;
}

.section{
    padding-top: 94px;
}

.section-second-studio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-second-portfolio{
    padding-bottom: 94px;
}

.section-header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.section-main-heading{
    padding-top: 200px;
    padding-bottom: 230px;
}

.section-footer{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
}

.box-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-flex-section-second{
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.link-first{
    color: var(--text-color-black);
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-right: 46px;
}

.link-second{
    color: var( --text-color-main);
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-right: 50px;
}

.link-third{
    color: var( --text-color-main);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
}

.link-studio{
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
}

.link-first:hover{
    color: var(--hover-color);
}

.link-second:hover{
    color: var(--hover-color);
}

.btn-portfolio{
    background-color: var(--background-color-lightgrey);
    color: var(--text-color-black);
    font-size: 16px;
    line-height: 1.2;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;
    width: 121px;
    height: 38px;
    margin-top: 94px;
    margin-bottom: 50px;
}

.btn-margin-portfolio{
    margin-right: 8px;
}

.btn-portfolio:hover{
    background-color: var(--hover-color);
}

.img-portfolio{
    display: inline-block;
    margin: 0 auto;
    padding-top: 20px;
}

.img-portfolio-padding{
    padding-left: 24px;
}

.img-title-portfolio{
    font-size: 18px;
    color: var(--text-color-black);
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.img-describtion-portfolio{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.street{
    color: var(--text-color-white);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    letter-spacing: 0.03em;
}

.darkgrey{
    background-color: var(--background-color-darkgrey);
}

.web{
    color: var(--hover-color);
}

.studio-white{
    color: var(--text-color-white);
}

.studio-black{
    color: var(--text-color-black);
}

.black-title-second{
    color: var(--text-color-black);
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.paragraph-first{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.black-title{
    color: var(--text-color-black);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.img-studio{
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.img-margin-studio{
    margin-right: 30px;
}

.img-studio-second{
    display: block;
    margin: 0 auto;
}

.img-title-studio{
    color: var(--text-color-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.img-describtion-studio{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.btn-studio{
    background-color: var(--hover-color);
    color: var(--background-color-lightgrey);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
}

.main-heading{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    color: var(--background-color-lightgrey);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.border-bottom{
    border-bottom: 1px solid var(--border-color-lightgrey);
    border-top: 1px solid var(--border-color-transparent);
    border-left: 1px solid var(--border-color-transparent);
    border-right: 1px solid var(--border-color-transparent);
    background-clip: border-box;
}

.background-color-lightgrey{
    background-color: var(--background-color-lightgrey);
}

.figure-style-studio{
    background-color: var(--text-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.figure-style-portfolio{
    background-color: var(--text-color-white);
    border: 1px solid var(--border-color-lightgrey-second);
    padding-bottom: 20px;
}

.address-style{
    padding-top: 20px;
}

.social-links{
    padding-left: 100px;
}